
    // mat-form-field {
    //     font-size: 12px;
    //     margin-top: -25px;
    //     height: 55px;
    // }

    // mat-select {
    //     font-size: 12px;
    //     margin-top: -25px;
    // }

    // mat-form-field>input {
    //     margin-top: -25px;
    // }

    // ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    //     height: 32px;
    //     margin-top: 8px;
    // }

    table,
    th,
    td {
        border: 1px solid black;
    }

    .div-outer-table {
        overflow-x: scroll;
        display: inline-grid;
    }

    label {
        color: Navy;
        font-family: 'arial';
    }

    // mat-form-field {
    //     font-size: 12px;
    //     margin-top: -25px;
    //     height: 55px;
    // }

    // mat-select {
    //     font-size: 12px;
    //     margin-top: -25px;
    // }

    // mat-form-field>input {
    //     margin-top: -25px;
    // }

    // ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    //     height: 32px;
    //     margin-top: 8px;
    // }

    table,
    th,
    td {
        border: 1px solid black;
    }

    .div-outer-table {
        overflow-x: scroll;
        display: inline-grid;
    }

    label {
        color: Navy;
        font-family: 'arial';
    }





