<!-- <p>li-action-btn-cstm works!</p> -->

<!-- <a style="cursor: pointer;" ng-attr-id="{{data.GUID}}" ng-href="" (click)="openPageAssign(data)">{{data}}</a> -->
<!-- <a style="cursor: pointer;" class="link" ng-href="" (click)="viewFullAplication(data)" title="View full application">Ap</a> -->
<!-- <button class="link" (click)="viewFullAplication(data)" title="View full application" style="height:20px; background-color: #3498DB; text-decoration: white; text-align:center; color:white;" onMouseOver="this.style.backgroundColor='#2ECC71'" onMouseOut="this.style.backgroundColor='#3498DB'" value="View"></button> -->
<!-- <button style="cursor: pointer;" class="link" (click)="viewFullAplication(data)" title="View detailed line items">LI</button> -->
<!-- <button class="link" (click)="viewFullAplication(data)" style="height:32px; background-color: #008CBA; text-decoration: none; text-align:center; color:white;" onMouseOver="this.style.backgroundColor='#4CAF50'" onMouseOut="this.style.backgroundColor='#008CBA'" title="View full application">View</button> -->

<!-- <a style="cursor: pointer;" class="link" (click)="viewFullAplication(data)" title="View full application"><img src='../../../../assets/eye_192.gif' style="height:20px; width:30px;" alt="View"/>View</a> -->

<a class="link" (click)="viewFullAplication(data)" title="View full application" style="color:blue; cursor: pointer;">View</a>
