<!-- <p>reimbursementdashboard works!</p>
<div>
    <form #gSearch method="GET" id="gSearch" action="https://www.google.com/search">
       <div id="voicesearch" style="margin: 10px; padding: 10px;">
           <input #searchKey name="q" id="searchKey">           
       </div>
       <br/>      
       <div id="voicesearch" style="margin: 10px; padding: 100px; text-align: center;">
          <div (click)="voiceSearch()" id="icon-mic"></div>
      </div>
    </form>   
 </div> 
 
 <div placeholder="Search with any word..." style="margin: 10px 10px">    
    &nbsp;
    <button (click)="onBtnExportDataAsExcel()" style="margin-top:px; height:32px; background-color: #008CBA; text-decoration: none; color:white; text-align:center; vertical-align:middle" onMouseOver="this.style.backgroundColor='#4CAF50'" onMouseOut="this.style.backgroundColor='#008CBA'">        
        Export Data As Excel
    </button>  
    &nbsp; &nbsp;  
 </div>   
 
 
 <div class="panel-content"> 
    <ag-grid-angular
    style="width: 99%; height: 500px; margin-left:5px"
    class="ag-theme-alpine"
    [defaultColDef]="mpTG.defaultColDef"
    [columnDefs]="mpTG.columnDefs"
    [rowGroupPanelShow]="mpTG.rowGroupPanelShow"             
    [rowData]="rowData"
    [suppressDragLeaveHidesColumns]="true"
    [groupUseEntireRow] = "true"
    pagination
    paginationPageSize="1000"
    [rowHeight]="rowHeight"
    enableCharts
    enableRangeSelection
    suppressRowClickSelection
    (gridReady)="onGridReady($event)"
    ></ag-grid-angular>              
 </div> -->
 
 <br/>

 
<div placeholder="Search with any word..." style="margin: 10px 10px">
    <input #filterTextBox type="text" id="filter-text-box" placeholder="Search with any word..." (keyup)="quickSearch()" [(ngModel)]="txtOfQuickSearchInpFld" style="height:31px;"/>
    &nbsp;

    <label style="font-size:16pt; font-family: Arial, Helvetica, sans-serif; color: navy; cursor: pointer; margin-top: 5px;" ><b><a href="https://portal.bergerbd.com/leaveauto/SitePages/EmployeeReimbursementDashboard.aspx/report">Go To Report View</a></b></label>

    &nbsp; &nbsp;
 </div>

<div class="panel-content"> 
   <ag-grid-angular
   style="width: 99%; height: 500px; margin-left:5px"
   class="ag-theme-alpine" 
   [modules]="modules"
   [columnDefs]="mpTG.columnDefs"
   [defaultColDef]="mpTG.defaultColDef"
   [masterDetail]="true"
   [detailCellRenderer]="detailCellRenderer"
   [frameworkComponents]="frameworkComponents"
   [rowData]="rowData"
   (gridReady)="onGridReady($event)"
   ></ag-grid-angular>              
</div>
 
 <br/>


 
 
 