<style>   
  /* .itemTitle{
  background: lightblue;
  } */
  .itemRow{
  align-items: baseline;
  }
  .frmCont {
  display: flex; /* or inline-flex */
  }
  .frmDiv {        
  flex-direction: row;
  }
  /* .mat-form-​field-appearance-outline .mat-form-field-outline { color: red; }
  .alignment .mat-form-field-outline-start .alignment .mat-form-field-outline-end { border-radius: 0px !important; }
  .mat-form-field-outline-thick { color: white; } 
  .mat-focused .mat-form-field-label { /*change color of label */
  /* input[type=text] 
  { 
  border: 0px; 
  background: transparent;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; 
  }  
  *:focus {
  outline: none;
  }
  [contenteditable="true"]:focus {
  outline: none;
  } */
</style>

<style>
mat-form-field { /* Changes the input styling to just about nothing so that button styling can take over */
font-size: 8px;
margin-top: -12px;
height: 55px;
}

mat-select{
font-size: 12px;
margin-top: -25px;
}

mat-label{
  font-size: 8pt;
}

mat-form-field > input {
 margin-top: -25px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
 /* remove border if needed  */
/* color: transparent !important;  */  
height: 32px; 
margin-top: 8px;
}

.flxContainer {
display: flex; /* or inline-flex */
flex-direction: column;
flex-wrap: wrap !important;
/* justify-content: center;
align-items: center; */
}

.fldValue{
  border: 0px; background: transparent; color:Navy; font-size:8pt;
}

.cardBgndClr{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

.cardContentBg{
  background: #77a1d3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #77a1d3, #79cbca, #e684ae); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #77a1d3, #79cbca, #e684ae); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
   
</style>



<style>
  
  
  h1,
  h2 {
    font-weight: 500;
    margin: 0px 0px 5px 0px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 16px;
  }
  
  p {
    margin: 0px;
  }
  
  .profile-card {
    background: #FFB300;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    overflow: hidden;
    opacity: 0;
    margin-top: 70px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }
  
  .profile-card header {
    width: 179px;
    height: 280px;
    padding: 40px 20px 30px 20px;
    display: inline-block;
    float: left;
    border-right: 2px dashed #EEEEEE;
    background: #FFFFFF;
    color: #000000;
    margin-top: 50px;
    opacity: 0;
    text-align: center;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
  }
  
  .profile-card header h1 {
    color: #FF5722;
  }
  
  .profile-card header a {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 25px 30px;
  }
  
  .profile-card header a:after {
    position: absolute;
    content: "";
    bottom: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    border: 4px solid #FFFFFF;
    -webkit-transform: scale(0);
    transform: scale(0);
    background: -webkit-linear-gradient(top, #2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
    background: linear-gradient(#2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
    animation: scaleIn 0.3s 3.5s ease forwards;
  }
  
  .profile-card header a > img {
    width: 120px;
    max-width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  }
  
  .profile-card header a:hover > img {
    -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
  }
  
  .profile-card .profile-bio {
    width: 175px;
    height: 180px;
    display: inline-block;
    float: right;
    padding: 50px 20px 30px 20px;
    background: #FFFFFF;
    color: #333333;
    margin-top: 50px;
    /* text-align: center; */
    opacity: 0;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
  }
  
  .profile-social-links {
    width: 218px;
    display: inline-block;
    float: right;
    margin: 0px;
    padding: 15px 20px;
    background: #FFFFFF;
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
  }
  
  .profile-social-links li {
    list-style: none;
    margin: -5px 0px 0px 0px;
    padding: 0px;
    float: left;
    width: 25%;
    text-align: center;
  }
  
  .profile-social-links li a {
    display: inline-block;
    color: red;
    width: 24px;
    height: 24px;
    padding: 6px;
    position: relative;
    overflow: hidden!important;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  
  .profile-social-links li a i {
    position: relative;
    z-index: 1;
  }
  
  .profile-social-links li a img,
  .profile-social-links li a svg {
    width: 24px;
  }
  
  @-webkit-keyframes init {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 56px;
      height: 56px;
      margin-top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes init {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 56px;
      height: 56px;
      margin-top: 0px;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes puff {
    0% {
      top: 100%;
      height: 0px;
      padding: 0px;
    }
    100% {
      top: 50%;
      height: 100%;
      padding: 0px 100%;
    }
  }
  
  @keyframes puff {
    0% {
      top: 100%;
      height: 0px;
      padding: 0px;
    }
    100% {
      top: 50%;
      height: 100%;
      padding: 0px 100%;
    }
  }
  
  @-webkit-keyframes borderRadius {
    0% {
      -webkit-border-radius: 50%;
    }
    100% {
      -webkit-border-radius: 0px;
    }
  }
  
  @keyframes borderRadius {
    0% {
      -webkit-border-radius: 50%;
    }
    100% {
      border-radius: 0px;
    }
  }
  
  @-webkit-keyframes moveDown {
    0% {
      top: 50%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 100%;
    }
  }
  
  @keyframes moveDown {
    0% {
      top: 50%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 100%;
    }
  }
  
  @-webkit-keyframes moveUp {
    0% {
      background: #FFB300;
      top: 100%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 50%;
      background: #E0E0E0;
    }
  }
  
  @keyframes moveUp {
    0% {
      background: #FFB300;
      top: 100%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 50%;
      background: #E0E0E0;
    }
  }
  
  @-webkit-keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      -webkit-border-radius: 4px;
    }
    100% {
      width: 440px;
      height: 280px;
      background: #FFFFFF;
      -webkit-border-radius: 4px;
    }
  }
  
  @keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      border-radius: 4px;
    }
    100% {
      width: 440px;
      height: 280px;
      background: #FFFFFF;
      border-radius: 4px;
    }
  }
  
  @-webkit-keyframes moveIn {
    0% {
      margin-top: 50px;
      opacity: 0;
    }
    100% {
      opacity: 1;
      margin-top: -20px;
    }
  }
  
  @keyframes moveIn {
    0% {
      margin-top: 50px;
      opacity: 0;
    }
    100% {
      opacity: 1;
      margin-top: -20px;
    }
  }
  
  @-webkit-keyframes scaleIn {
    0% {
      -webkit-transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
  
  @keyframes scaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @-webkit-keyframes ripple {
    0% {
      transform: scale3d(0, 0, 0);
    }
    50%,
    100% {
      -webkit-transform: scale3d(1, 1, 1);
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes ripple {
    0% {
      transform: scale3d(0, 0, 0);
    }
    50%,
    100% {
      transform: scale3d(1, 1, 1);
    }
    100% {
      opacity: 0;
    }
  }
  
  @media screen and (min-aspect-ratio: 4/3) {
    body {
      background-size: cover;
    }
    body:before {
      width: 0px;
    }
    @ -webkit-keyframes puff {
      0% {
        top: 100%;
        width: 0px;
        padding-bottom: 0px;
      }
      100% {
        top: 50%;
        width: 100%;
        padding-bottom: 100%;
      }
    }
    @keyframes puff {
      0% {
        top: 100%;
        width: 0px;
        padding-bottom: 0px;
      }
      100% {
        top: 50%;
        width: 100%;
        padding-bottom: 100%;
      }
    }
  }
  
  @media screen and (min-height: 480px) {
    .profile-card header {
      width: auto;
      height: auto;
      padding: 30px 20px;
      display: block;
      float: none;
      border-right: none;
    }
    .profile-card .profile-bio {
      width: auto;
      height: auto;
      padding: 15px 0px 0px 0px;
      display: block;
      float: none;
    }
    .profile-social-links {
      width: 100%;
      display: block;
      float: none;
    }
    @ -webkit-keyframes materia {
      0% {
        background: #E0E0E0;
      }
      50% {
        -webkit-border-radius: 4px;
      }
      100% {
        width: 210px;
        height: 330px;
        background: #FFFFFF;
        -webkit-border-radius: 4px;
      }
    }
    @keyframes materia {
      0% {
        background: #E0E0E0;
      }
      50% {
        border-radius: 4px;
      }
      100% {
        width: 210px;
        height: 330px;
        background: #FFFFFF;
        border-radius: 4px;
      }
    }
  }
  
  </style>

  
  <aside class="profile-card">
    <div class="flxContainer">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly none" fxFlex="30">
          <div fxFlex="100" class="profile-bio">
              <form [formGroup]="_form" fxFlex="100" class="cardContentBg">    
                  <div fxLayout="column" style="color: Navy; font-family: 'Arial', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: smaller; margin:10px" fxLayoutGap="5px">
                      <div fxLayout="row" >
                          <div fxFlex="100" style="text-align: center; display: block;">
                              <div fxLayout="row" fxLayoutAlign="space-between start" style="text-align: center; display: block; margin-top: -10px; margin-left: -10px;" >
                                  <ng-container
                                      *ngIf="(_form.value.AssetSubCategory == 'Desktop'); else showLaptopImage">
                                      <div style="background-image: url(../../../../Style%20Library/MyITAssets/MyITAssetsV1/assets/ItAssetsImage/rsz_desktop2.jpg); height: 150px; width: 210px; padding-top: -40px; margin: 0px; text-align: center;">
                                        <div fxLayout="row" fxLayoutGap="0px" style="padding-top: 100px;">
                                          <div fxFlex="100">
                                              <div fxLayout="row" fxLayoutAlign="space-between start" >
                                                  <input formControlName="AssetSubCategory" style="border: 0px; background: transparent; text-align: center; font-size: large; font-weight: bolder; font-family: Arial, Helvetica, sans-serif; width: 180px; color: ghostwhite;" readonly disabled>
                                              </div>
                                          </div>                                    
                                        </div>
                                        <div fxLayout="row" fxLayoutGap="1px">
                                          <div fxFlex="100">
                                              <div fxLayout="row" >
                                                  <input formControlName="AssetModel" style="border: 0px; background: transparent; text-align: center; font-size: small; font-weight: bolder; font-family: Arial, Helvetica, sans-serif; width: 180px; color: ghostwhite;" readonly disabled>
                                              </div>
                                          </div>                                    
                                        </div>
                                      </div>
                                      <!-- <img src="assets/ItAssetsImage/Dell/Laptop/laptop2.jpg" alt="image" width="200" height="100" style="padding-top: -40px; margin: 0px; text-align: center;"> -->
                                  </ng-container>
                                  <ng-template #showLaptopImage>
                                    <div style="background-image: url('../../../../Style%20Library/MyITAssets/MyITAssetsV1/assets/ItAssetsImage/rsz_1laptop2.jpg'); height: 150px; width: 210px;" >
                                      <div fxLayout="row" fxLayoutGap="0px" style="padding-top: 100px;">
                                        <div fxFlex="100">
                                            <div fxLayout="row" fxLayoutAlign="space-between start" >
                                                <input formControlName="AssetSubCategory" style="border: 0px; background: transparent; text-align: center; font-size: large; font-weight: bolder; font-family: Arial, Helvetica, sans-serif; width: 180px; color: ghostwhite;">
                                            </div>
                                        </div>                                    
                                      </div>
                                      <div fxLayout="row" fxLayoutGap="1px">
                                        <div fxFlex="100">
                                            <div fxLayout="row" >
                                                <input formControlName="AssetModel" style="border: 0px; background: transparent; text-align: center; font-size: medium; font-weight: bolder; font-family: Arial, Helvetica, sans-serif; width: 180px; color: ghostwhite;">
                                            </div>
                                        </div>                                    
                                      </div>
                                    </div>                                        
                                  </ng-template>
                              </div>
                          </div>                                    
                      </div>

                      <div fxLayout="row">
                          <div fxFlex="100">
                              <div fxLayout="row" fxLayoutAlign="space-between start">
                                  <div fxFlex="1 1 28">
                                      <mat-label>Asset No</mat-label>
                                  </div>
                                  <div fxFlex="1 1 3">
                                      <mat-label>:</mat-label>
                                  </div>
                                  <div fxFlex="1 1 69">
                                      <input class="fldValue" formControlName="AssetNumber" readonly disabled>
                                  </div>
                              </div>
                          </div>                                    
                      </div>
                      <div fxLayout="row">
                          <div fxFlex="100">
                              <div fxLayout="row" fxLayoutAlign="space-between start">
                                  <div fxFlex="1 1 28">
                                      <mat-label>SL No</mat-label>
                                  </div>
                                  <div fxFlex="1 1 3">
                                      <mat-label>:</mat-label>
                                  </div>
                                  <div fxFlex="1 1 69">
                                      <input class="fldValue" formControlName="ProductSLNo" readonly disabled>
                                  </div>
                              </div>
                          </div>                                    
                      </div>
                      <div fxLayout="row">
                          <div fxFlex="100">
                              <div fxLayout="row" fxLayoutAlign="space-between start">
                                  <div fxFlex="1 1 28">
                                      <mat-label>Type</mat-label>
                                  </div>
                                  <div fxFlex="1 1 3">
                                      <mat-label>:</mat-label>
                                  </div>
                                  <div fxFlex="1 1 69">
                                      <input class="fldValue" formControlName="AssetAcquisitionType" readonly disabled>
                                  </div>
                              </div>
                          </div>                                    
                      </div>
                      <div fxLayout="row">
                          <div fxFlex="100">
                              <div fxLayout="row" fxLayoutAlign="space-between start">
                                  <div fxFlex="1 1 28">
                                      <mat-label>Acqusition</mat-label>
                                  </div>
                                  <div fxFlex="1 1 3">
                                      <mat-label>:</mat-label>
                                  </div>
                                  <div fxFlex="1 1 69" style="height: 10px;">
                                       <mat-form-field appearance="no">
                                          <input matInput matDatepicker formControlName='UserAcqusitionDate' class="fldValue" readonly disabled>                                            
                                       </mat-form-field>
                                  </div>
                              </div>
                          </div>                                    
                      </div>
                      <div fxLayout="row">
                          <div fxFlex="100">
                              <div fxLayout="row" fxLayoutAlign="space-between start">
                                  <div fxFlex="1 1 28">
                                      <mat-label>Warranty</mat-label>
                                  </div>
                                  <div fxFlex="1 1 3">
                                      <mat-label>:</mat-label>
                                  </div>
                                  <div fxFlex="1 1 69" style="height: 10px;">
                                      <mat-form-field appearance="no">
                                         <input matInput matDatepicker formControlName='WarrantyExpDate' class="fldValue" readonly disabled>                                            
                                      </mat-form-field>
                                 </div>
                              </div>
                          </div>                                    
                      </div>
                      
                      <div fxLayout="row">
                          <div fxFlex="100">
                              <div fxLayout="row" fxLayoutAlign="space-between start">
                                  <div fxFlex="1 1 28">
                                      <mat-label>Useful Life</mat-label>
                                  </div>
                                  <div fxFlex="1 1 3">
                                      <mat-label>:</mat-label>
                                  </div>
                                  <div fxFlex="1 1 69">
                                      <input class="fldValue" formControlName="UsefulLife" readonly disabled>
                                  </div>
                              </div>
                          </div>                                    
                      </div>

                      <div fxLayout="row">
                          <div fxFlex="100">
                              <div fxLayout="row" fxLayoutAlign="space-between start">
                                  <div fxFlex="1 1 28">
                                      <mat-label>Purchase</mat-label>
                                  </div>
                                  <div fxFlex="1 1 3">
                                      <mat-label>:</mat-label>
                                  </div>
                                  <div fxFlex="1 1 69" style="height: 10px;">
                                      <mat-form-field appearance="no">
                                         <input matInput matDatepicker formControlName='WarrantyExpDate' class="fldValue" readonly disabled>                                            
                                      </mat-form-field>
                                 </div>
                              </div>
                          </div>                                    
                      </div>
                      <div fxLayout="row">
                        <div fxFlex="100">
                            <div fxLayout="row" fxLayoutAlign="space-between start">
                                <div fxFlex="1 1 28">
                                    <mat-label>Description</mat-label>
                                </div>
                                <div fxFlex="1 1 3">
                                    <mat-label>:</mat-label>
                                </div>
                                <div fxFlex="1 1 69">
                                      <mat-form-field appearance="no" fxFlex="75" style="margin-top: -9px; color:Navy; font-size:8pt;"> 
                                        <textarea matInput
                                           formControlName="AssetDescription"
                                           cdkTextareaAutosize                                             
                                           cdkAutosizeMinRows="1"
                                           cdkAutosizeMaxRows="3"></textarea>
                                        </mat-form-field>
                                  </div>
                            </div>
                        </div>                                    
                    </div>
                      <!-- <div fxLayout="row">
                          <div fxFlex="100">
                              <div fxLayout="row" fxLayoutAlign="space-between start">
                                  <div fxFlex="1 1 33">
                                      <mat-label>Manufacturer</mat-label>
                                  </div>
                                  <div fxFlex="1 1 3">
                                      <mat-label>:</mat-label>
                                  </div>
                                  <div fxFlex="1 1 64">
                                      <input formControlName="Manufacturer" readonly
                                          disabled style="border: 0px; background: transparent; color:Navy">
                                  </div>
                              </div>
                          </div>                                    
                      </div> -->
                  </div>
              </form>
          </div>
      </div>                   
    </div>     
  </aside>






