// p {
//     font-family: Lato;
//   }
  
//   .top-bar {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 10px;
//   }

//@import "~@ng-select/ng-select/themes/material.theme.css";

// ... or 

//@import "~@ng-select/ng-select/themes/default.theme.css";

table, th, td {
    border: 1px solid black;
 }
 
 label{
    color:Navy;
    font-family: 'arial';
 } 