<div
*ngIf="rowData.length>0"
style="width: 70%; margin: auto;">
  <mat-accordion>
     <mat-expansion-panel style="background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);">
        <mat-expansion-panel-header style="color:white;">
           <span color="red" style="font-size:large;">Free FG Request ({{rowData.length}})</span>
        </mat-expansion-panel-header>
        <div class="panel-content"> 
           <ag-grid-angular
           style="width: 100%; height: 300px;"
           class="ag-theme-alpine"
           [defaultColDef]="mpTG.defaultColDef"
           [columnDefs]="mpTG.columnDefs"
           [animateRows]="true"
           [enableRangeSelection]="true"                 
           [rowData]="rowData"
           rowSelection="multiple"
           pagination
           paginationPageSize="100"
           [suppressDragLeaveHidesColumns]="true"
           [suppressMakeColumnVisibleAfterUnGroup]="true"
           [groupIncludeFooter]="true"
           (gridReady)="onGridReady($event)"
           ></ag-grid-angular>              
        </div>
     </mat-expansion-panel>
  </mat-accordion>
  <br>
</div>

