<div style="display: flex;">
    <div fxLayout="row" fxFlex="1 1 100" style="border: 2px solid blue; border-radius: 5px;">
        <div fxLayout="row" fxFlex="1 1 16" fxFlex.md="1 1 15" fxFlex.sm="1 1 20" fxFlex.xs="1 1 25"
            style="border: 2px solid blue; border-radius: 3px 0px 0px 3px;">

            <div fxLayout="column" fxFlex="100" fxLayoutAlign="center" fxLayoutGap="0px"
                style="padding-left:10px; margin: auto; ">
                <div><img src="{{domain}}/Style%20Library/SampleTest/SampleTestV1/assets/SampleTestWF/rsz_berger_png_logo.png"
                    style="height: 70px; width: 100px; margin: 5px;" /></div>                
                <!-- <div style="background-image: url(https://portal.bergerbd.com/Style%20Library/SampleTest/SampleTestV1/assets/SampleTestWF/rsz_berger_png_logo.png); height: 70px; width: 100px; margin: 5px;"></div> -->
                
            </div>
        </div>
        <div fxLayout="row" fxFlex="1 1 53" fxFlex.md="1 1 55" fxFlex.sm="1 1 40" fxFlex.xs="1 1 30"
            style="border: 2px solid blue;">
            <div fxLayout="column" fxFlex="100" fxLayoutAlign="center none"
                style="margin-left: 2px; text-align: center !important;">
                <div style="font-size: 40px; font-weight: bold; font-family: 'Times New Roman', Times, serif;">Test
                    Report</div>
            </div>
        </div>
        <div fxLayout="row" fxFlex="1 1 32" fxFlex.md="1 1 30" fxFlex.sm="1 1 40" fxFlex.xs="1 1 45"
            style="border: 2px solid blue; border-radius: 0px 3px 3px 0px; ">
            <div fxLayout="column" fxFlex="100" fxLayoutAlign="center none" style="margin-left: 2px;">
                <div fxLayout="row" fxFlex="100" style="font-size: 11pt;">
                    Research & Development Center ,
                </div>
                <div fxLayout="row" fxFlex="100" style="font-size: 11pt;">
                    Berger Paints Bangladesh Limited
                </div>
                <div fxLayout="row" fxFlex="100" style="font-size: 10pt;">
                    Plot: 102; Mouza: Taksur; Nabinagar,
                </div>
                <div fxLayout="row" fxFlex="100" style="font-size: 11pt;">
                    Savar, Dhaka - 1340, Bangladesh .
                </div>
                <div fxLayout="row" fxFlex="100" style="font-size: 9pt;">
                    testinglab@bergerbd.com, www.bergerbd.com
                </div>
            </div>
        </div>
    </div>
</div>