<!-- <style>
    mat-form-field {
        /* Changes the input styling to just about nothing so that button styling can take over */
        font-size: 12px;
        margin-top: -25px;
        height: 55px;
    }

    mat-select {
        font-size: 12px;
        margin-top: -25px;
    }

    mat-form-field>input {
        margin-top: -25px;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        /* remove border if needed  */
        /* color: transparent !important;  */
        height: 32px;
        margin-top: 8px;
    }
</style> -->

<!-- <style>
    mat-form-field {
        /* Changes the input styling to just about nothing so that button styling can take over */
        font-size: 12px;
        margin-top: -25px;
        height: 55px;
    }

    mat-select {
        font-size: 12px;
        margin-top: -25px;
    }

    mat-form-field>input {
        margin-top: -25px;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        /* remove border if needed  */
        /* color: transparent !important;  */
        height: 32px;
        margin-top: 8px;
    }
</style> -->

<style>
    label {
        color: Navy;
        font-family: 'arial';
    }

    /* table,
    th,
    td {
         border: 1px solid black;
    } */
</style>

<div style="width: 100%; margin: auto;">
    <div style="width: 100%; background-color: #bdbfc2;">
        <form [formGroup]="TestParameter" (ngSubmit)="onSubmitBtn()" noval fxLayout="column" fxFlex="1 1 100"
            class="frmCont panel" style="background-color: #dbdbdf;">
            <!-- <div fxLayout="column" fxFlex="1 1 100" style="background-color: whitesmoke; padding: 15px; margin-left: 15px; margin-right: 15px;">
                
                <div fxFlex ="100" class="frmDiv itemRow" fxLayout="column" fxLayout.xs="column" fxLayoutGap="50px" formArrayName="Samples" *ngFor="let smpl of TestParameter.controls.Samples.value; let si = index;">
                   <div fxFlex ="1 1 100" fxLayout="column">
                      <div fxLayout="column" style="padding: 5px;" [formGroupName]="si">
                         <fieldset>
                            <legend>
                               <span>Sample-{{si+1}}</span>
                            </legend>
                            <div class="panel-body" fxFlex="1 1 100" fxLayout="column">
                               <div fxFlex ="100" class="frmDiv" fxLayout="column" fxLayout.xs="column" fxLayoutGap="0px">
                                   <div fxFlex ="1 1 100" fxLayout="row" fxLayoutAlign="space-between start">
                                      <div fxFlex = "1 1 15" >
                                         <mat-label>Sample ID</mat-label>
                                      </div>
                                      <div fxFlex = "1 1 2" >
                                         <mat-label>:</mat-label>
                                      </div>
                                      <div fxFlex = "1 1 83">                                     
                                        <ng-container
                                           *ngIf="showSmplLbl(); else showSampleIDTxt">
                                           <mat-form-field appearance="no" fxFlex="100" style="margin-top: -12px; color:Navy">
                                              <input matInput class="form-control" type="text" formControlName="SampleID" readonly disabled>
                                           </mat-form-field>
                                        </ng-container>
                                        <ng-template #showSampleIDTxt>
                                           <mat-form-field appearance="outline" fxFlex="100" style="margin-top: -12px; color:Navy">
                                              <input matInput class="form-control" type="text" formControlName="SampleID" placeholder="Provide Sample Type" readonly disabled>
                                           </mat-form-field>
                                        </ng-template>
                                      </div>
                                   </div>
                                   <div fxFlex ="1 1 100" fxLayout="row" fxLayoutAlign="space-between start">
                                       <div fxFlex = "1 1 15" >
                                          <mat-label>Sample Description</mat-label>
                                       </div>
                                       <div fxFlex = "1 1 2" >
                                          <mat-label>:</mat-label>
                                       </div>
                                       <div fxFlex = "1 1 83">
                                           <ng-container
                                              *ngIf="showSmplLbl(); else showSampleDescriptionTxt">
                                              <mat-form-field appearance="no" fxFlex="100" style="margin-top: -15px; color:Navy;"> 
                                                 <textarea matInput
                                                    formControlName="SampleDescription"
                                                    cdkTextareaAutosize                                             
                                                    cdkAutosizeMinRows="1"
                                                    cdkAutosizeMaxRows="5" 
                                                    readonly 
                                                    disabled></textarea>
                                                 </mat-form-field>
                                           </ng-container>
    
                                           <ng-template #showSampleDescriptionTxt>                                       
                                              <mat-form-field appearance="outline" fxFlex="100" style="margin-top: -15px; color:Navy"> 
                                                 <textarea matInput
                                                    formControlName="SampleDescription"
                                                    cdkTextareaAutosize                                             
                                                    cdkAutosizeMinRows="1"
                                                    cdkAutosizeMaxRows="5" 
                                                    #sampleDescription 
                                                    maxlength="200" 
                                                    readonly 
                                                    disabled></textarea>
                                                    <mat-hint align="end">{{sampleDescription.value?.length || 0}}/200</mat-hint>
                                                 </mat-form-field>                                       
                                           </ng-template>                                       
                                        </div>
                                    </div>
                                    <div fxFlex ="1 1 100" fxLayout="row" fxLayoutAlign="space-between start">
                                       <div fxFlex = "1 1 15" >
                                          <mat-label>Reference No</mat-label>
                                       </div>
                                       <div fxFlex = "1 1 2" >
                                          <mat-label>:</mat-label>
                                       </div>
                                       <div fxFlex = "1 1 83">
                                          <ng-container
                                              *ngIf="showSmplLbl(); else showReferenceNoTxt">
                                              <mat-form-field appearance="no" fxFlex="100" style="margin-top: -12px; color:Navy">
                                                 <input matInput class="form-control" type="text" formControlName="ReferenceNo" readonly disabled>
                                              </mat-form-field>
                                           </ng-container>
                                           <ng-template #showReferenceNoTxt>
                                              <mat-form-field appearance="outline" fxFlex="100" style="margin-top: -12px; color:Navy">
                                                 <input matInput class="form-control" type="text" formControlName="ReferenceNo" placeholder="Provide Sample Type" readonly disabled>
                                              </mat-form-field>
                                           </ng-template>
                                       </div>
                                    </div>
                                    <div fxFlex ="1 1 100" fxLayout="row" fxLayoutAlign="space-between start">
                                       <div fxFlex = "1 1 15" >
                                          <mat-label>Sample Type</mat-label>
                                       </div>
                                       <div fxFlex = "1 1 2" >
                                          <mat-label>:</mat-label>
                                       </div>
                                       <div fxFlex = "1 1 83">                                    
                                           <ng-container
                                              *ngIf="showSmplLbl(); else showSampleTypeTxt">
                                              <mat-form-field appearance="no" fxFlex="100" style="margin-top: -12px; color:Navy">
                                                 <input matInput class="form-control" type="text" formControlName="SampleType" readonly disabled>
                                              </mat-form-field>
                                           </ng-container>
                                           <ng-template #showSampleTypeTxt>
                                              <mat-form-field appearance="outline" fxFlex="100" style="margin-top: -12px; color:Navy">
                                                 <input matInput class="form-control" type="text" formControlName="SampleType" placeholder="Provide Sample Type" readonly disabled>
                                              </mat-form-field>
                                           </ng-template>
                                       </div>
                                    </div>
                                    <div fxFlex ="1 1 100" fxLayout="row" fxLayoutAlign="space-between start">
                                       <div fxFlex = "1 1 15" >
                                          <mat-label>Specific Requirement</mat-label>
                                       </div>
                                       <div fxFlex = "1 1 2" >
                                          <mat-label>:</mat-label>
                                       </div>
                                       <div fxFlex = "1 1 83">
                                           <ng-container
                                              *ngIf="showSmplLbl(); else showSmplTxt">
                                              <mat-form-field appearance="no" fxFlex="100" style="margin-top: -15px; color:Navy;"> 
                                                 <textarea matInput
                                                    formControlName="SpecificRequirement"
                                                    cdkTextareaAutosize                                             
                                                    cdkAutosizeMinRows="1"
                                                    cdkAutosizeMaxRows="5" 
                                                    readonly 
                                                    disabled></textarea>
                                                 </mat-form-field>
                                           </ng-container>
    
                                           <ng-template #showSmplTxt>                                       
                                              <mat-form-field appearance="outline" fxFlex="100" style="margin-top: -15px; color:Navy"> 
                                                 <textarea matInput
                                                    formControlName="SpecificRequirement"
                                                    cdkTextareaAutosize                                             
                                                    cdkAutosizeMinRows="1"
                                                    cdkAutosizeMaxRows="5" 
                                                    #specificRequirement 
                                                    maxlength="200" 
                                                    readonly 
                                                    disabled></textarea>
                                                    <mat-hint align="end">{{specificRequirement.value?.length || 0}}/200</mat-hint>
                                                 </mat-form-field>                                       
                                           </ng-template>                                       
                                       </div>
                                    </div>                        
                               </div>                   
                            </div>
                         </fieldset>
                      </div>
                   </div>
                </div>
              </div>
              <br> -->
            <div fxLayout="column" fxFlex="1 1 100">
                <div class="panel-body" fxFlex="1 1 100">
                    <div fxLayout="column" fxFlex="1 1 100">
                        <div fxLayout="column"
                            style="background-color: whitesmoke; padding: 15px; margin-left: 15px; margin-right: 15px;">
                            <div class="panel-body" fxFlex="1 1 100" fxLayout="column" fxLayoutGap="0px">
                                <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="1px">
                                    <div fxFlex="1 1 100" fxLayout="row" fxLayoutAlign="space-between start">
                                        <div fxFlex="1 1 34">
                                            <h2>TEST RESULTS</h2>
                                        </div>
                                    </div>
                                </div>
                                <div formGroupName="Title" fxLayout="column">
                                    <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="1px">
                                        <div fxFlex="1 1 100" fxLayout="row" fxLayoutAlign="space-between start">
                                            <div fxFlex="1 1 20">
                                                <mat-label>Test Parameter</mat-label>
                                            </div>
                                            <div fxFlex="1 1 1">
                                                <mat-label>:</mat-label>
                                            </div>
                                            <div fxFlex="1 1 79">
                                                <input class="form-control" type="text" formControlName="Title"
                                                    placeholder="Provide Test Parameter" readonly disabled
                                                    style="border: 0px; background: transparent; color:Navy; width:400px;">

                                            </div>
                                        </div>
                                    </div>
                                    <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                                        <div fxFlex="1 1 100" fxLayout="row" fxLayoutAlign="space-between start">
                                            <div fxFlex="1 1 20">
                                                <mat-label>Test Method</mat-label>
                                            </div>
                                            <div fxFlex="1 1 1">
                                                <mat-label>:</mat-label>
                                            </div>
                                            <div fxFlex="1 1 79">
                                                <input class="form-control" type="text" formControlName="Method"
                                                    placeholder="Provide Test Method" readonly disabled
                                                    style="border: 0px; background: transparent; color:Navy">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div fxLayout="column"
                            style="background-color: whitesmoke; padding: 15px; margin-left: 15px; margin-right: 15px;">
                            <div class="panel-body" fxFlex="1 1 100" fxLayout="column" fxLayoutGap="0px">
                                <div fxFlex="100" fxLayout="column" fxLayout.xs="column" fxLayoutGap="0px">
                                    <br>
                                    <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0px">
                                        <div fxFlex="1 1 50" fxLayout="row" fxLayoutAlign="space-between start">
                                            <div fxFlex="1 1 34">
                                                <mat-label>Package Condition</mat-label>
                                            </div>
                                            <div fxFlex="1 1 2">
                                                <mat-label>:</mat-label>
                                            </div>
                                            <div fxFlex="1 1 64">
                                                <ng-container *ngIf ="(requestInfo.readMode == 'read' || requestInfo.Status == 'Completed'); else showPackCondition">
                                                    <label style="color:Navy; font-family: Arial, Helvetica, sans-serif;">{{testParameter.PackageCondition}}</label>                                                                                                        
                                                </ng-container>
                                                <ng-template #showPackCondition>
                                                    <mat-form-field appearance="outline">
                                                        <mat-select id="PackageCondition"
                                                            formControlName="PackageCondition">
                                                            <mat-optgroup *ngFor="let group of requestForsGroups"
                                                                [label]="group.name" [disabled]="group.disabled">
                                                                <mat-option *ngFor="let requestFor of group.requestFor"
                                                                    [value]="requestFor.value">
                                                                    {{requestFor.viewValue}}
                                                                </mat-option>
                                                            </mat-optgroup>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </ng-template>
                                                
                                            </div>
                                        </div>
                                        <div fxFlex="1 1 50" fxLayout="row" fxLayoutAlign="space-between start">
                                            
                                        </div>
                                    </div>
                                </div>

                                <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="1px">
                                    <div fxFlex="1 1 50" fxLayout="row" fxLayoutAlign="space-between start">
                                        <div fxFlex="1 1 34">
                                            <mat-label>Test Period *</mat-label>
                                        </div>
                                        <div fxFlex="1 1 2">
                                            <mat-label>:</mat-label>
                                        </div>
                                        <div fxFlex="1 1 64">
                                            <ng-container *ngIf ="(requestInfo.readMode == 'read' || requestInfo.Status == 'Completed'); else showTPFromTxt">
                                                <label style="color:Navy; font-family: Arial, Helvetica, sans-serif;">{{testParameter.TestPeriodFrom | date}}</label>                                                
                                            </ng-container>
                                            <ng-template #showTPFromTxt>
                                                <mat-form-field appearance="outline">
                                                    <input matInput [matDatepicker]="TestPeriodFrom"
                                                        formControlName='TestPeriodFrom'>
                                                    <mat-datepicker-toggle matSuffix [for]="TestPeriodFrom">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #TestPeriodFrom></mat-datepicker>
                                                </mat-form-field>
                                            </ng-template>   

                                        </div>
                                    </div>
                                    <div fxFlex="1 1 50" fxLayout="row" fxLayoutAlign="space-between start">
                                        <div fxFlex="1 1 34">
                                            <mat-label>To *</mat-label>
                                        </div>
                                        <div fxFlex="1 1 2">
                                            <mat-label>:</mat-label>
                                        </div>
                                        <div fxFlex="1 1 64">
                                            <ng-container *ngIf ="(requestInfo.readMode == 'read' || requestInfo.Status == 'Completed'); else showTPToTxt">
                                                <label style="color:Navy; font-family: Arial, Helvetica, sans-serif;">{{testParameter.TestPeriodTo | date}}</label>                             
                                            </ng-container>
                                            <ng-template #showTPToTxt>
                                                <mat-form-field appearance="outline">
                                                    <input matInput [matDatepicker]="TestPeriodTo"
                                                        formControlName='TestPeriodTo'>
                                                    <mat-datepicker-toggle matSuffix [for]="TestPeriodTo">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #TestPeriodTo></mat-datepicker>
                                                </mat-form-field>
                                            </ng-template>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="1px">
                                    <div fxFlex="1 1 100" fxLayout="row" fxLayoutAlign="space-between start">
                                        <div fxFlex="1 1 17">
                                            <mat-label>Environment/Test Condition</mat-label>
                                        </div>
                                        <div fxFlex="1 1 1">
                                            <mat-label>:</mat-label>
                                        </div>
                                        <div fxFlex="1 1 82">
                                            <ng-container *ngIf ="(requestInfo.readMode == 'read' || requestInfo.Status == 'Completed'); else showPacCommentsTxt">
                                                {{testParameter.PacComments}}
                                            </ng-container>

                                            <ng-template #showPacCommentsTxt>
                                                <mat-form-field appearance="outline" fxFlex="100"
                                                    style="margin-top: -19px; color:Navy">
                                                    <textarea matInput formControlName="PacComments"
                                                        cdkTextareaAutosize cdkAutosizeMinRows="1"
                                                        cdkAutosizeMaxRows="5" #pacComments maxlength="100" readonly
                                                        disabled style="resize: none;"></textarea>
                                                    <mat-hint align="end">{{pacComments.value?.length || 0}}/100
                                                    </mat-hint>
                                                </mat-form-field>
                                            </ng-template>
                                        </div>
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>


           
            <div fxLayout="column" fxFlex="1 1 100">
                <div class="panel-body" fxFlex="1 1 100">
                    <div fxLayout="column" fxFlex="1 1 100">
                        <div fxLayout="column"
                            style="background-color: whitesmoke; padding: 15px; margin-left: 15px; margin-right: 15px;">
                            <div class="panel-body" fxFlex="1 1 100" fxLayout="column" fxLayoutGap="0px">
                                <p>Result:</p>


                                <br>

                                <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                                    <div fxFlex="1 1 100" fxLayout="row" fxLayoutAlign="space-between start">
                                        <div fxFlex="1 1 100" fxLayout="row">
                                            <table formArrayName="TestResults" style="border: 2px;">
                                                <thead>
                                                    <tr>
                                                        <th style="width:20px; border: 1px solid black;">#</th>
                                                        <th scope="col" style="width:135px; border: 1px solid black;">SampleID</th>                                                        
                                                        <th scope="col" style="width:20px; border: 1px solid black;">#</th>
                                                        <th scope="col" style="width:112px; border: 1px solid black;">Parameter</th>
                                                        <th scope="col" style="width:110px; border: 1px solid black;">TestResult</th>
                                                        <th scope="col" style="width:111px; border: 1px solid black;">Unit</th>
                                                        <th scope="col" style="width:110px; border: 1px solid black;">RL</th>
                                                        <th scope="col" style="width:110px; border: 1px solid black;">LimitValue</th>
                                                        <th scope="col" style="width:118px; border: 1px solid black;">Comment</th>
                                                        <th scope="col" style="border:1px solid black;" hidden>Action</th>
                                                        <th scope="col" style="border:1px solid black;" hidden>Action</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                                    <div fxFlex="1 1 100" fxLayout="row" fxLayoutAlign="space-between start">
                                        <div fxFlex="1 1 100" fxLayout="row" style="overflow-x: scroll; display: inline-grid;">
                                            <table formArrayName="TestResults" style="border: 1px solid black;">                                                
                                                <tbody>
                                                    <tr *ngFor="let person of getPeople(TestParameter); let i=index"
                                                        [formGroupName]="i">
                                                        <td style="width:20px; border: 1px solid black;">{{i+1}}</td>
                                                        <td style="width:134px; border: 1px solid black;"><input class="form-control" type="text"
                                                                placeholder="SampleID" formControlName="SampleID"
                                                                style="width:130px; font-size: 10pt; color:Navy; font-family: Arial, Helvetica, sans-serif;" readonly disabled></td>

                                                        <td style="border: 1px solid black;">
                                                            <table class="table table-sm" formArrayName="Results">
                                                                <tbody>
                                                                    <tr *ngFor="let address of getAddress(person); let j=index"
                                                                        [formGroupName]="j">
                                                                        <td style="width:20px; border: 1px solid black;">
                                                                            {{j+1}}
                                                                        </td>
                                                                        <td style="border: 1px solid black;">
                                                                            <div style="min-width:101px; font-size: 10pt; color:Navy; font-family: Arial, Helvetica, sans-serif; border: none; background: transparent;" readonly disabled>
                                                                                <label >{{address.get('Parameter').value}}</label></div>
                                                                            <!-- <input type="text" class="form-control"
                                                                                placeholder="Parameter"
                                                                                formControlName="Parameter"
                                                                                style="width:115px; font-size: 10pt; color:Navy; font-family: Arial, Helvetica, sans-serif; border: none; background: transparent;" readonly disabled> -->
                                                                        </td>
                                                                        <td style="border: 1px solid black;">
                                                                            <div style="width:100px; font-size: 10pt; color:Navy; font-family: Arial, Helvetica, sans-serif; border: none; background: transparent;" readonly disabled>
                                                                                <label >{{address.get('TestResult').value}}</label></div>
                                                                            <!-- <input type="text" class="form-control"
                                                                                placeholder="TestResult"
                                                                                formControlName="TestResult"
                                                                                style="width:120px; font-size: 10pt; color:Navy; font-family: Arial, Helvetica, sans-serif; border: none; background: transparent;" readonly disabled> -->
                                                                        </td>

                                                                        <td style="border: 1px solid black;">
                                                                            <div style="width:100px; font-size: 10pt; color:Navy; font-family: Arial, Helvetica, sans-serif; border: none; background: transparent;" readonly disabled>
                                                                                <label >{{address.get('Unit').value}}</label></div>

                                                                            <!-- <input type="text" class="form-control"
                                                                                placeholder="Unit"
                                                                                formControlName="Unit"
                                                                                style="width:70px; font-size: 10pt; color:Navy; font-family: Arial, Helvetica, sans-serif; border: none; background: transparent;" readonly disabled> -->
                                                                        </td>
                                                                        <td style="border: 1px solid black;">
                                                                            <div style="width:100px; font-size: 10pt; color:Navy; font-family: Arial, Helvetica, sans-serif; border: none; background: transparent;" readonly disabled>
                                                                                <label >{{address.get('RL').value}}</label></div>
                                                                            <!-- <input type="text" class="form-control"
                                                                                placeholder="RL" formControlName="RL"
                                                                                style="width:70px; font-size: 10pt; color:Navy; font-family: Arial, Helvetica, sans-serif; border: none; background: transparent;" readonly disabled> -->
                                                                        </td>
                                                                        <td style="border: 1px solid black;">
                                                                            <div style="width:100px; font-size: 10pt; color:Navy; font-family: Arial, Helvetica, sans-serif; border: none; background: transparent;" readonly disabled>
                                                                                <label >{{address.get('LimitValue').value}}</label></div>
                                                                            <!-- <input type="text" class="form-control"
                                                                                placeholder="LimitValue"
                                                                                formControlName="LimitValue"
                                                                                style="width:80px; font-size: 10pt; color:Navy; font-family: Arial, Helvetica, sans-serif; border: none; background: transparent;" readonly disabled> -->
                                                                        </td>
                                                                        <td style="border: 1px solid black;">
                                                                            <div style="width:106px; font-size: 8pt; color:Navy; font-family: Arial, Helvetica, sans-serif; border: none; background: transparent;" readonly disabled>
                                                                                <label >{{address.get('ResComment').value}}</label></div>                                                                          
                                                                                
                                                                        </td>
                                                                        <td style="border: 1px solid black;" hidden>
                                                                            <button class="btn btn-success" *ngIf="j<1"
                                                                                (click)="addAddress(i)"
                                                                                type="button">+</button>
                                                                            <button class="btn btn-danger" *ngIf="j>=1"
                                                                                (click)="removeAddress(i, j)"
                                                                                type="button">-</button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td hidden>
                                                            <button class="btn btn-success" style="float:left;"
                                                                (click)="addTestResults()" type="button">+</button>
                                                            <button class="btn btn-danger" style="float:right;"
                                                                *ngIf="i>=1" (click)="removeTestResults(i)"
                                                                type="button">-</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                           
                                        </div>
                                        
                                    </div>
                                </div>
                                <div fxFlex="1 1 100" fxLayout="row" fxLayoutAlign="space-between start">* RL = Reporting Limit; *
                                    ND = Not Detected (below Reporting Limit);
                              </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            

            <div fxLayout="column" fxFlex="1 1 100" *ngIf="requestInfo.readMode != 'read' && requestInfo.readMode != 'print'">
                <div class="panel-body" fxFlex="1 1 100">
                    <div fxLayout="column" fxFlex="1 1 100">
                        <div fxLayout="column"
                            style="background-color: whitesmoke; padding: 15px; margin-left: 15px; margin-right: 15px;">
                            <div fxFlex="1 1 100" fxLayout="row" fxLayoutAlign="space-between start">
                                <div fxFlex="1 1 25">
                                    <mat-label>Review/re-test comments:*</mat-label>
                                </div>
                                <div fxFlex="1 1 2">
                                    <mat-label>:</mat-label>
                                </div>
                                <div fxFlex="1 1 72">
                                    <!-- <input type="text" placeholder="Provide Sample Description" formControlName="SampleDescription"> -->
                                    <ng-container *ngIf="status == 'Released'; else showReviewComment">
                                        <mat-form-field appearance="no" fxFlex="100"
                                            style="margin-top: -15px; color:Navy;">
                                            <textarea matInput formControlName="ReviewOrRetestComment"
                                                cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                                readonly disabled style="resize: none;"></textarea>
                                        </mat-form-field>
                                    </ng-container>

                                    <ng-template #showReviewComment>
                                        <mat-form-field appearance="outline" fxFlex="100"
                                            style="margin-top: -15px; color:Navy">
                                            <textarea matInput formControlName="ReviewOrRetestComment"
                                                cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                                #ReviewOrRetestComment maxlength="200" style="resize: none;"></textarea>
                                            <mat-hint align="end">{{ReviewOrRetestComment.value?.length || 0}}/200
                                            </mat-hint>
                                        </mat-form-field>
                                    </ng-template>
                                </div>
                            </div>

                            <div fxLayout="row" fxFlex="1 1 100"
                                *ngIf="requestInfo.readMode != 'read'">
                                <button mat-button type="submit" class="mat-raised-button mat-primary"
                                    [disabled]="reviewBtnShow" *ngIf="requestInfo.Status != 'Completed'">Review / Re-Test</button>
                            </div>                          

                        </div>
                    </div>
                </div>
            </div>
            <label style="color: navy; text-align: center;">** Test Report ends here **</label>
            <br>            
        </form>        
    </div>
</div>