//@import "~@ng-select/ng-select/themes/material.theme.css";

// ... or 

//@import "~@ng-select/ng-select/themes/default.theme.css";

.lblMargin {
    margin-top: 3px;
    color: navy;
}

.mSelectMargin {
    //margin-top: -12px !important;
    vertical-align: middle;
    color: Navy;
}

.mFFldMargin {
    margin-top: -18px !important;
    color: Navy;
}
